@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed' sans-serif;
}



:root {
  --primary-white: #fff;
  --primary-blue: #40e0d0;
  --primary-dark: rgba(255,255,255, 0);
  --primary-lg: #817e7e;
  --primary-hover-lg: #bdbdbd;

}

.header-wrapper {
  position: relative;
  background-image: url(jumbotron.jpg);
  background-size: cover;
  background-position: cover;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed' sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-lg);
  text-transform: uppercase;
}
