@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed' sans-serif;
}



:root {
  --primary-white: #fff;
  --primary-blue: #40e0d0;
  --primary-dark: rgba(255,255,255, 0);
  --primary-lg: #817e7e;
  --primary-hover-lg: #bdbdbd;

}

/**************** HOMEPAGE *******************/

.header-wrapper {
  position: relative;
  background-image: url(jumbotron.jpg);
  background-size: cover;
  background-position: cover;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed' sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-lg);
  text-transform: uppercase;
}


.card-image {
  max-width: 500px;
  max-height: 500px;
  align-items: center;
}

.l-card {
  margin: 20px;
}

.l-card-image {
  border-radius: 10px;
  width: 700px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.l-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.l-card-title {
  font-size: 24px;
  margin: 0px;
}

.l-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.profile-pic {
  max-height: 200px;
}

.resume-img {
  max-height: 1400px;
  max-width: 1000px;
}

.resume-wrapper {
  display: flex;
  width: 50%;
}